
* {

	margin: 0;
	padding: 0;


}
/*css reset*/

html, body {
	overflow-x: hidden;
}

h1 {

	margin: 0;

}

.container {
	width: 700px;
	margin: 0 auto;
	background-color:#f2f2f2;
	color: #404040;
}

header {
	background-color: black;
	height: 70px;
	color: white;
	text-align: center;
	line-height: 70px;
	font-size: 10px;
}

footer {
	background-color:#a6a6a6;
	height: 70px;
	text-align: center;
	color: #fff;
	line-height: 70px;
}

.dashboard-thumbnail {
	display: inline-block;
	width: 40%;
	height: 100px;
}

.dashboard-circles {
	height: 70px;
	width: 70px;
	background-color:red;
	text-align: center;
	line-height: 70px;
	color: #fff;
	float: left;
	margin-right: 20px;
}

#post-circle {
	margin-left: 60px;
	border-radius: 50%;
/*	background-color:;*/

}

#image-circle {
	margin-left: 60px;
	border-radius: 50%;
/*	background-color:;*/

}

#post-title {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

#post-content {
	width: 100%;
	height: 100px;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.btn {
	border: none;
	padding: 15px 30px;
	font-size: 14px;
	color: #fff;

}

.btn-blue {

	/*background-color:;*/
	/*border-radius:;*/


}

.btn-green {

	/*background-color:;*/
	/*border-radius:;*/

}

#btn-browse {
	margin-left: 20px;
}

.hide-overflow {
	overflow: hidden;
}

.img-set {
	height: 70px;
	width: 100px;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	margin: 0 5px;

}

.img-set-holder {
	text-align: center;
}

.inline-blocked {
	display: inline-block;
}

.dashboard-text {
	margin: 0;
	font-size: 24px;
	width: 100%;
	text-align: center;
}

main {
	padding: 20px;
}

#btn-publish,
#btn-upload,
#btn-browse {
	float: right;
}